extends layout

block content
  .home-container
    h1 Bienvenido a El Lector Voraz
    h2 ¡Hola, Tech Moms 2.0!
    p Explora el catálogo de libros, la cafetería, tus puntos y más desde el menú superior.
